.inline {
  display: flex;
  align-items: center;
  margin: 1em 0;
}

.header {
  font-size: 25px;
  font-weight: bold;
}

.userprof {
  color: black;
  text-align: center;
  font-weight: normal;
  font-size: 25px;
}

.profblock {
  background-color: #ebd071;
  border-radius: 10px;
  width: 18em;
  padding: 2%;
  margin: 1em auto;
  box-shadow: 3px 5px 5px 0px rgb(211, 211, 211);
}

.profblock-wrapper {
  padding-top: 2px;
}

.proftext {
  font-size: 18px;
  font-weight: bold;
  margin: 1em 10px;
}

.profdetail {
  font-weight: normal;
  display: inline;
  padding-left: 10px;
}

.profdetail.pw {
  -webkit-text-security: disc;
}

.viewbutton {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 1em 0;
}

.edit {
  background-color: white;
  border: solid 1px #ccc;
  color: black;
  border-radius: 10px;
  width: 100%;
  max-width: 15rem;
  height: 0.8rem;
  font-size: 0.9em;
  margin: 2px;
  padding: 0.5em;
  box-shadow: 3px 5px 5px 0px rgb(211, 211, 211);
}

.edit:hover {
  background-color: rgb(238, 238, 238);
}

.edit:focus {
  outline: none;
}

.view {
  background-color: #ebd071;
  color: black;
  font-style: italic;
  font-weight: bold;
  border-radius: 10px;
  width: 8.3em;
  height: 2.2rem;
  margin: 1em;
  font-size: 15px;
  box-shadow: 3px 5px 5px 0px rgb(211, 211, 211);
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.view.w {
  margin-left: 7.3em;
  width: 9em;
  position: absolute;
}

.forad {
  width: 100%;
  position:absolute;
}

.editbutton {
  background-color: #ebd071;
  border: none;
  color: black;
  font-style: italic;
  font-weight: bold;
  border-radius: 10px;
  width: 6rem;
  height: 2.2rem;
  margin: 1em;
  font-size: 15px;
  box-shadow: 3px 5px 5px 0px rgb(211, 211, 211);
  cursor: pointer;
}

.editbutton:hover {
  background-color: #ddc46b;
}

.logo4 {
  width: 1.5em;
  margin: 0 5px;
}

.logtext {
  margin: auto;
}

.model-overlay {
  background-color: #ebd071;
  width: 21em;
  height: 35em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  visibility: visible;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.background-change {
  visibility: hidden;
}

.texttop {
  margin-bottom: 150%;
  position: fixed;
}

.selections {
  display: block;
  width: 20em;
  height: 1.5em;
  background-color: white;
  border-style:solid;
  color:black;
  border-radius:5px;
  margin: 2px auto 10px;
  border-style: none;
  font-size: 13px;
}


.forques {
  width: 18em;
  height: 5em;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 10px;
  box-shadow: none;
  border-style: none;
  font-size: 13px;

  display:block;
  background-color: white;
  color:black;
  border-radius:8px;
  padding-left:1rem;
  padding-right:1rem;
  margin: 2px auto;
  outline: none;
}

.forques.w {
  height: 1.5em;
}

.inline.w {
  display: inline;
  margin-top:0px;
  position:fixed;
}

.damnbuttons {
  width: 7em;
  margin: 7.5em 3.5em 0em;
  position: absolute;
}

.damnbuttons.w {
  width: 7em;
  margin: 7.5em 13.5em 0em;
  position: absolute;
}

.centerised {
  margin-top: 3em;
  font-size: 14px;
}

.headsup {
  font-size:11px;
}